target
dist
data

.DS_Store
.idea

.bloop
.metals
project/metals.sbt

project/target
project/project/target
project/.bloop

frontend/build

backend/conf/secrets.conf

/database

log
logs

*/target

*.svg
*.map
